.text-center {
   text-align: center;
}
.block-center {
   margin: 0 auto;
}
.f-centered {
   justify-content: center;
   align-items: center;
}
.f-space-around {
   justify-content: space-around;
}
.f-space-between {
   justify-content: space-between;
}
