.m-10 {
   margin: 10px;
}
.mt-10 {
   margin-top: 10px;
}
.mr-10 {
   margin-right: 10px;
}
.mb-10 {
   margin-bottom: 10px;
}
.ml-10 {
   margin-left: 10px;
}
.m-20 {
   margin: 20px;
}
.mt-20 {
   margin-top: 20px;
}
.mr-20 {
   margin-right: 20px;
}
.mb-20 {
   margin-bottom: 20px;
}
.ml-20 {
   margin-left: 20px;
}
.m-30 {
   margin: 30px;
}
.mt-30 {
   margin-top: 30px;
}
.mr-30 {
   margin-right: 30px;
}
.mb-30 {
   margin-bottom: 30px;
}
.ml-30 {
   margin-left: 30px;
}
.m-50 {
   margin: 50px;
}
.mt-50 {
   margin-top: 50px;
}
.mr-50 {
   margin-right: 50px;
}
.mb-50 {
   margin-bottom: 50px;
}
.ml-50 {
   margin-left: 50px;
}
.m-100 {
   margin: 100px;
}
.mt-100 {
   margin-top: 100px;
}
.mr-100 {
   margin-right: 100px;
}
.mb-100 {
   margin-bottom: 100px;
}
.ml-100 {
   margin-left: 100px;
}
